.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    position: sticky;
    top: 0;
    z-index: 3;
}

.toolbar-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.product-buttons {
    display: flex;
    justify-content: flex-start;
    width: 33%;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
    width: 33%;
    gap: 1rem;
}

.icon-color {
    color: white;
}