<div class="products">
    @for (product of availableProducts; track product) {
    <mat-card class="product-card">
        <mat-card-content>
            <div class="img-wrapper">
                <img mat-card-image src="{{product.imageUrl}}" alt="{{product.name}}" width="375px" height="375px">
            </div>
        </mat-card-content>
        <mat-card-footer>
            <div class="product-name">
                <p>{{product.name}}</p>
            </div>
            <div class="action-button">
                <p>${{product.price}}</p>
                <button mat-icon-button (click)="addToCart(product)" matTooltip="Add to cart">
                    <mat-icon>shopping_cart</mat-icon>
                </button>
            </div>
        </mat-card-footer>
    </mat-card>
    }
</div>