.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    flex: 0 0 calc(25% - 10px);
    margin-bottom: 10px;
    height: 500px;
}

.action-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.product-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.img-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mat-mdc-card.mdc-card:hover {
    box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.2);
}

.mat-mdc-card-content:hover {
    cursor: pointer;
}