.table-wrapper {
    padding: 1rem;
}

// .content-wrapper {
//     display: flex;
//     align-items: center;
//     flex-direction: row;
// }

.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 1rem;
    padding-right: 1rem;
}